/* Write CSS code here for nameplate-1 */
nav{
    background-color: rgba(0, 0, 0, 0.826);
    height: 50px;
    padding: 5px;
}
.nav{
    text-decoration: none;
    color: whitesmoke;
    list-style: none;  
    font-weight: 100; 
    /* display: inline; */
}
#id1{
   padding: 5px;
   padding-left: 450px;
}
 li{
    display: inline;
    padding: 20px;
    list-style-type: none;
 }
.a1{
    float: right;
   padding: 0px;
   padding-left: 410px;
}
#button{
    border-radius: 12px; 
    padding: 5px 20px; 
    margin: -20px 25px;
    background-color: rgba(145, 205, 243, 0.907);
}
nav::after{
    content: "";
    clear: left;
    display: block;
}
